html {
  --background: #f2f2f2;
  --background-shade: #f5f5f5;
  --accent: #333;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--accent);
  font-size: 16px;
}


.hidden {
  display: none;
}

p {
  margin-bottom: 5px;
}

a {
  color: #1976d2;
}

.mono,
code {
  font-family: monospace;
}

#app {
  background: var(--background);
  color: var(--accent);
  padding: 0 20px;
  max-width: 700px;
  min-width: 320px;
  margin: 10px auto;
}

#loader {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 101;
  background: rgba(0 0 0 / 0.5);
  width: 100vw;
  height: 100vh;
  margin: -10px -10px 0 0;

  .icon {
    top: calc(50% - 30px);
    right: calc(50% - 30px);
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(loading.svg) no-repeat;
    background-size: 60px 60px;
    will-change: scroll-position;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 0.1;
    }

    10% {
      opacity: 0.2;
    }

    30% {
      opacity: 0.6;
    }

    90% {
      opacity: 0.8;
    }

    100% {
      transform: rotate(360deg);
      opacity: 0.1;
    }
  }
}

/*
####
vue-context
####
*/

.v-context {
  $menu-bg: var(--background);
  $menu-border: #777;
  $item-color: var(--accent);
  $item-hover-bg: rgba(0, 0, 0, 0.1);

  &,

  & ul {
    background-color: $menu-bg;
    background-clip: padding-box;
    border-radius: .25rem;
    border: 1px solid $menu-border;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin: 0;
    padding: 10px 0;
    min-width: 10rem;
    z-index: 1500;
    position: fixed;
    list-style: none;
    box-sizing: border-box;
    max-height: calc(100% - 50px);
    overflow-y: auto;

    >li {
      margin: 0;
      position: relative;

      >a {
        display: block;
        padding: .5rem 1.5rem;
        font-weight: 400;
        color: $item-color;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $item-hover-bg;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__sub {
    >a:after {
      content: "\2bc8";
      float: right;
      padding-left: 1rem;
    }

    >ul {
      display: none;
    }
  }
}

/*
####
vue-toast-notification
####
*/

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.fadeOut {
  animation-name: fadeOut
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.fadeInDown {
  animation-name: fadeInDown
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.fadeInUp {
  animation-name: fadeInUp
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.notices {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none
}

.notices .toast {
  display: inline-flex;
  align-items: center;
  animation-duration: 150ms;
  margin: .5em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  border-radius: .25em;
  pointer-events: auto;
  opacity: .92;
  color: #fff;
  min-height: 3em;
  cursor: pointer
}

.notices .toast .toast-text {
  margin: 0;
  padding: .5em 1em;
  word-break: break-word
}

.notices .toast .toast-icon {
  display: none
}

.notices .toast-success {
  background-color: #28a745
}

.notices .toast-info {
  background-color: #17a2b8
}

.notices .toast-warning {
  background-color: #ffc107
}

.notices .toast-error {
  background-color: #dc3545
}

.notices .toast-default {
  background-color: #343a40
}

.notices .toast.is-top,
.notices .toast.is-bottom {
  align-self: center
}

.notices .toast.is-top-right,
.notices .toast.is-bottom-right {
  align-self: flex-end
}

.notices .toast.is-top-left,
.notices .toast.is-bottom-left {
  align-self: flex-start
}

.notices.is-top {
  flex-direction: column
}

.notices.is-bottom {
  flex-direction: column-reverse
}

.notices.is-custom-parent {
  position: absolute
}

@media screen and (max-width: 768px) {
  .notices {
    padding: 0;
    position: fixed !important
  }
}