$breakpoint-tablet: 768px;

html {
  --background: #f2f2f2;
  --background-shade: #f5f5f5;
  --background-overlay: rgba(0, 0, 0, 0.75);
  --text: #333;
  --input-background: #f1f1f1;
  --link: #1976d2;
}

html[data-theme="dark"] {
  --background: #434952;
  --background-shade: #3b4049;
  --background-overlay: rgba(80, 84, 97, 0.8);
  --text: #f2f2f2;
  --input-background: #3b4049;
  --link: #70a0cf;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
}

.hidden {
  display: none;
}

p {
  margin-bottom: 5px;
}

a {
  color: var(--link);
}

.mono,
code {
  font-family: monospace;
}

#app {
  background: var(--background);
  color: va(--text);
  padding: 0 20px;
  max-width: 700px;
  min-width: 320px;
  margin: 10px auto;
}

#loader {
  position: fixed;
  top: 8px;
  right: 8px;
  pointer-events: none;
  z-index: 101;
  background: rgba(0 0 0 / 0.7);
  width: 100vw;
  height: 100vh;
  margin: -10px -10px 0 0;

  .icon {
    top: calc(50% - 30px);
    right: calc(50% - 30px);
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(loading.svg) no-repeat;
    background-size: 60px 60px;
    will-change: scroll-position;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 0.1;
    }

    10% {
      opacity: 0.2;
    }

    30% {
      opacity: 0.6;
    }

    90% {
      opacity: 0.8;
    }

    100% {
      transform: rotate(360deg);
      opacity: 0.1;
    }
  }
}

#tabs {
  border-bottom: 1px solid var(--text);
  user-select: none;
  padding-left: 10px;
  white-space: nowrap;

  .tab {
    display: inline-block;
    position: relative;
    bottom: -4px;
    padding: 0px 10px;
    line-height: 44px;
    height: 44px;
    cursor: pointer;
    opacity: 0.5;
    min-width: 50px;
    overflow: hidden;

    span {
      max-width: 125px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    &.active {
      border-width: 1px;
      border-style: solid;
      border-color: var(--text);
      border-bottom-color: var(--background);
      cursor: default;
      opacity: 1;
    }

    input {
      background-color: var(--background);
      color: var(--text);
      font-size: 16px;
      border: 0px;
      height: 42px;
      display: block;
      width: 125px;
    }
  }
}


#remote {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  min-height: 70px;
  user-select: none;

  .sortable-chosen {
    opacity: 0.2;
  }

  .glyph {
    display: block;
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 20px;
    pointer-events: none;

    svg.icon {
      width: 100%;
      height: 100%;
      pointer-events: none;
      fill: var(--text);
    }
  }

  .item,
  .item-add {
    display: flex;
    padding: 16px;
    max-width: 25%;
    flex-basis: 100%;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      padding-top: 100%;
    }

    &:hover,
    &:focus {
      background-color: var(--background-shade);
      transition: background-color 0.5s;
    }

    .no-icon {
      font-size: 7vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    @media screen and (min-width: 1200px) {
      .no-icon {
        font-size: 80px;
      }
    }
  }

  .item-add {
    &:hover {
      background: none;
    }

    .glyph svg {
      fill: var(--text);
      width: 50%;
      height: 50%;
      transform: translateX(0%) translateY(50%);
      opacity: 0.1;
      pointer-events: initial;
      transition: opacity 0.5s ease-in-out;

      &:hover {
        opacity: 0.8;
        transition: opacity 0.5s ease-in-out;
      }

      use {
        pointer-events: none;
      }
    }
  }

  .sort & .item {
    cursor: move;
  }

  .remove & .item {
    cursor: not-allowed;
  }
}

#add-overlay {
  position: absolute;
  background-color: var(--background-overlay);
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: none;
  z-index: 100;
  justify-content: center;
  align-items: flex-start;

  .add &,
  .editor & {
    display: flex;
  }

  button {
    display: inline-block;
    color: #f8f8f8;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease 0s;
    background-color: #1976d2;
    padding: 1px 6px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 1px #000;
  }

  button:hover,
  button:active {
    background: #1565c0;
  }

  button:disabled,
  button.disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  input[type="text"] {
    height: 40px;
    line-height: 38px;
    padding: 0 8px;
    width: 100%;
  }

  input,
  textarea {
    margin-bottom: 10px;
    border: solid #979797;
    border-width: 1px 0;
    background: #222;
    color: var(--text);
    background-color: var(--input-background);

    &:focus {
      border-color: #1976d2;
    }
  }

  button {
    min-width: 100px;
    font-weight: bold;
  }

  label {
    display: block;
    text-align: left;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 3px;
    line-height: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    color: var(--text);

    span {
      display: block;
      font-size: 12px;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  #form1 {
    margin: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    max-width: 700px;
    width: 90vw;
    text-align: right;
    position: relative;
    background: var(--background);

    .vc-slider {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 20px;
    }
  }

  #close {
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    text-indent: 2px;
    font-weight: bold;
    z-index: 101;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    background-color: #ff7c7c;
    text-align: center;
    cursor: pointer;

    &:before {
      content: 'âŒ';
    }
  }


  .keybinds {
    text-align: left;
    margin: 0;
    padding: 10px 0px 0px 10px;
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
      display: block;
    }
  }

  #glyphs {
    margin-bottom: 10px;
    border: solid #979797;
    border-width: 1px 0;
    padding: 5px;
    height: 225px;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
  }

  #mqtt {
    width: 100%;
    display: flex;
    align-items: self-start;

    input {
      border-right: none;
    }

  }

  #knob_mqtt_topic {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: none;
    border-right: none;
    line-height: 1em;
    padding-top: 10px;

    p {
      text-align: left;
      margin: 0;
      line-height: 1;
      padding-left: 10px;
    }

    label {
      display: inline-block;
      padding: 0 10px;
      line-height: 1em;
      font-weight: normal;
    }
  }

  .glyph {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin: 12px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;

    svg.icon {
      width: 100%;
      height: 100%;
      fill: var(--text);
    }
  }
}

/*
####
vue-context
####
*/

.v-context {
  $menu-bg: var(--background);
  $menu-border: #777;
  $item-color: var(--text);
  $item-hover-bg: var(--background-shade);

  &,
  & ul {
    background-color: $menu-bg;
    background-clip: padding-box;
    border-radius: .25rem;
    border: 1px solid $menu-border;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin: 0;
    padding: 10px 0;
    min-width: 10rem;
    z-index: 1500;
    position: fixed;
    list-style: none;
    box-sizing: border-box;
    max-height: calc(100% - 50px);
    overflow-y: auto;

    .default[data-id="delete"] {
      color: rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: $menu-bg;
        cursor: default;
      }
    }

    >li {
      margin: 0;
      position: relative;

      >a {
        display: block;
        padding: .5rem 1.5rem;
        font-weight: 400;
        color: $item-color;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $item-hover-bg;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__sub {
    >a:after {
      content: "\2bc8";
      float: right;
      padding-left: 1rem;
    }

    >ul {
      display: none;
    }
  }
}

/*
####
vue-toast-notification
####
*/

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.fadeOut {
  animation-name: fadeOut
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.fadeInDown {
  animation-name: fadeInDown
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.fadeInUp {
  animation-name: fadeInUp
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.notices {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none
}

.notices .toast {
  display: inline-flex;
  align-items: center;
  animation-duration: 150ms;
  margin: .5em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  border-radius: .25em;
  pointer-events: auto;
  opacity: .92;
  color: #fff;
  min-height: 3em;
  cursor: pointer
}

.notices .toast .toast-text {
  margin: 0;
  padding: .5em 1em;
  word-break: break-word
}

.notices .toast .toast-icon {
  display: none
}

.notices .toast-success {
  background-color: #28a745
}

.notices .toast-info {
  background-color: #17a2b8
}

.notices .toast-warning {
  background-color: #ffc107
}

.notices .toast-error {
  background-color: #dc3545
}

.notices .toast-default {
  background-color: #343a40
}

.notices .toast.is-top,
.notices .toast.is-bottom {
  align-self: center
}

.notices .toast.is-top-right,
.notices .toast.is-bottom-right {
  align-self: flex-end
}

.notices .toast.is-top-left,
.notices .toast.is-bottom-left {
  align-self: flex-start
}

.notices.is-top {
  flex-direction: column
}

.notices.is-bottom {
  flex-direction: column-reverse
}

.notices.is-custom-parent {
  position: absolute
}

@media screen and (max-width: 768px) {
  .notices {
    padding: 0;
    position: fixed !important
  }
}