html {
  --background: #f2f2f2;
  --background-shade: #f5f5f5;
  --accent: #333;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--accent);
  font-size: 16px;
}

.hidden {
  display: none;
}

p {
  margin-bottom: 5px;
}

a {
  color: #1976d2;
}

.mono,
code {
  font-family: monospace;
}

#app {
  background: var(--background);
  color: var(--accent);
  padding: 0 20px;
  max-width: 700px;
  min-width: 320px;
  margin: 10px auto;
  min-height: calc(100vh - 20px);
}

button {
  display: inline-block;
  color: #f8f8f8;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease-out, opacity 0.3s ease-out;
  background-color: #1976d2;
  padding: 1px 6px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  border: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 1px #000;
}

button:hover,
button:active {
  background: #1565c0;
  transition: background 0.3s ease-out, opacity 0.3s ease-out;
}

button:disabled,
button.disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.close {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background 0.3s ease-out;
  background-color: #ff7c7c;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: 25%;
    pointer-events: none;
    fill: #fff;
  }

  &:hover {
    transition: background 0.3s ease-out;
    background-color: #ff3d3d;
  }
}

/*
####
vue-context
####
*/

.v-context {
  $menu-bg: var(--background);
  $menu-border: #777;
  $item-color: var(--accent);
  $item-hover-bg: rgba(0, 0, 0, 0.1);

  &,
  & ul {
    background-color: $menu-bg;
    background-clip: padding-box;
    border-radius: 0.25rem;
    border: 1px solid $menu-border;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin: 0;
    padding: 10px 0;
    min-width: 10rem;
    z-index: 1500;
    position: fixed;
    list-style: none;
    box-sizing: border-box;
    max-height: calc(100% - 50px);
    overflow-y: auto;

    > li {
      margin: 0;
      position: relative;

      > a {
        display: block;
        padding: 0.5rem 1.5rem;
        font-weight: 400;
        color: $item-color;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $item-hover-bg;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__sub {
    > a:after {
      content: '\2bc8';
      float: right;
      padding-left: 1rem;
    }

    > ul {
      display: none;
    }
  }
}

/*
####
vue-toast-notification
####
*/

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.v-notices {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none;
}

.v-notices .v-toast {
  display: inline-flex;
  align-items: center;
  animation-duration: 150ms;
  margin: 0.5em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 0.25em;
  pointer-events: auto;
  opacity: 0.92;
  color: #fff;
  min-height: 3em;
  cursor: pointer;
}

.v-notices .v-toast .v-toast-text {
  margin: 0;
  padding: 0.5em 1em;
  word-break: break-word;
}

.v-notices .v-toast .v-toast-icon {
  display: none;
}

.v-notices .v-toast-success {
  background-color: #28a745;
}

.v-notices .v-toast-info {
  background-color: #17a2b8;
}

.v-notices .v-toast-warning {
  background-color: #ffc107;
}

.v-notices .v-toast-error {
  background-color: #dc3545;
}

.v-notices .v-toast-default {
  background-color: #343a40;
}

.v-notices .v-toast.is-top,
.v-notices .v-toast.is-bottom {
  align-self: center;
}

.v-notices .v-toast.is-top-right,
.v-notices .v-toast.is-bottom-right {
  align-self: flex-end;
}

.v-notices .v-toast.is-top-left,
.v-notices .v-toast.is-bottom-left {
  align-self: flex-start;
}

.v-notices.is-top {
  flex-direction: column;
}

.v-notices.is-bottom {
  flex-direction: column-reverse;
}

.v-notices.is-custom-parent {
  position: absolute;
}

@media screen and (max-width: 768px) {
  .v-notices {
    padding: 0;
    position: fixed !important;
  }
}
